<html lang="en">
<head>
    <title>Login Page</title>
    <meta charset="UTF-8">
</head>
<body>



<form action="/" method="post">
    <div>
        <h1>Login Page</h1>
    </div>
    <td>
        <label>
            <input type="text" name="name" placeholder="Username" required>
        </label>
    </td>
    <tr>
        <td><label>
            <input type="password" name="password" placeholder="Password" required>
        </label>
        </td>

    </tr>


    <input type="submit">



</form>



</body>
</html>